@font-face {
  font-family: "iconfont"; /* Project id 2952858 */
  src: url('iconfont.woff2?t=1637394064265') format('woff2'),
       url('iconfont.woff?t=1637394064265') format('woff'),
       url('iconfont.ttf?t=1637394064265') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 30px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e7ae";
}

.icon-password:before {
  content: "\e786";
}

.icon-close:before {
  content: "\e664";
}

